#Base {
  .layout_design {
    .back {
      z-index: -10;
      #stars {
        z-index: -10;
        -webkit-animation: animStar 100s linear infinite;
        animation: animStar 100s linear infinite;
      }
      #stars,
      #stars:after {
        width: 1px;
        height: 1px;
        background: transparent;
        box-shadow: 3607px 2193px #fff, 7409px 7872px #fff, 7867px 6009px #fff,
          400px 2687px #fff, 6791px 4756px #fff, 8414px 7773px #fff,
          1928px 3583px #fff, 8409px 8627px #fff, 2802px 6458px #fff,
          5550px 6350px #fff, 9921px 6671px #fff, 9236px 1890px #fff,
          1350px 6184px #fff, 1673px 6009px #fff, 7198px 7094px #fff,
          121px 6638px #fff, 1649px 249px #fff, 837px 4586px #fff,
          1969px 4343px #fff, 7886px 6876px #fff, 2279px 9874px #fff,
          6072px 927px #fff, 3294px 8518px #fff, 7323px 7984px #fff,
          4865px 427px #fff, 8136px 7612px #fff, 8738px 6115px #fff,
          2214px 8532px #fff, 4149px 9455px #fff, 773px 8408px #fff,
          6074px 6949px #fff, 7538px 2143px #fff, 7028px 733px #fff,
          9412px 4894px #fff, 7382px 931px #fff, 1609px 1002px #fff,
          402px 6625px #fff, 9658px 4996px #fff, 7947px 8339px #fff,
          7888px 3153px #fff, 6098px 7411px #fff, 5165px 7060px #fff,
          7249px 7063px #fff, 9046px 5195px #fff, 8206px 9221px #fff,
          8030px 1498px #fff, 3007px 9875px #fff, 4279px 305px #fff,
          104px 783px #fff, 4018px 1343px #fff, 4089px 5252px #fff,
          9576px 5586px #fff, 3441px 3915px #fff, 9277px 711px #fff,
          1240px 3582px #fff, 238px 6951px #fff, 723px 936px #fff,
          1701px 4241px #fff, 7509px 2930px #fff, 7171px 751px #fff,
          8000px 3606px #fff, 7401px 4744px #fff, 9857px 1673px #fff,
          9422px 2003px #fff, 2782px 9720px #fff, 1264px 2393px #fff,
          3563px 2988px #fff, 163px 3731px #fff, 2445px 6078px #fff,
          4488px 5175px #fff, 8001px 3974px #fff, 7791px 5027px #fff,
          4507px 7705px #fff, 9544px 6371px #fff, 4146px 6570px #fff,
          5196px 9245px #fff, 6029px 6849px #fff, 6624px 7369px #fff,
          9902px 247px #fff, 3583px 6609px #fff, 292px 2571px #fff,
          895px 3752px #fff, 2174px 1685px #fff, 4531px 9143px #fff,
          8682px 1899px #fff, 244px 5141px #fff, 7598px 5459px #fff,
          9634px 9004px #fff, 7597px 5046px #fff, 4640px 198px #fff,
          919px 1388px #fff, 4481px 272px #fff, 6677px 4302px #fff,
          1020px 8918px #fff, 23px 8049px #fff, 983px 310px #fff,
          4437px 7854px #fff, 9438px 6059px #fff, 3230px 3819px #fff,
          1647px 2208px #fff, 9901px 1751px #fff, 8415px 122px #fff,
          2903px 3405px #fff, 9723px 7121px #fff, 4328px 5113px #fff,
          9673px 3817px #fff, 583px 5148px #fff, 470px 9175px #fff,
          580px 3354px #fff, 6175px 1538px #fff, 8432px 2563px #fff,
          1909px 1459px #fff, 7794px 7145px #fff, 9931px 932px #fff,
          6199px 3976px #fff, 8427px 1558px #fff, 2785px 6644px #fff,
          3964px 1052px #fff, 685px 3773px #fff, 9199px 9154px #fff,
          8457px 25px #fff, 11px 5990px #fff, 3359px 3258px #fff,
          6061px 4478px #fff, 8524px 2757px #fff, 229px 8885px #fff,
          6717px 7066px #fff, 3479px 5966px #fff, 7437px 1986px #fff,
          6495px 1332px #fff, 2493px 3516px #fff, 4075px 2518px #fff,
          1797px 3014px #fff, 1733px 1559px #fff, 4200px 3304px #fff,
          9023px 317px #fff, 8238px 2781px #fff, 3518px 8715px #fff,
          5194px 9298px #fff, 727px 7224px #fff, 9158px 6217px #fff,
          7388px 4069px #fff, 2045px 258px #fff, 468px 3781px #fff,
          6644px 9461px #fff, 7998px 4492px #fff, 2666px 6926px #fff,
          9458px 1554px #fff, 4489px 2215px #fff, 9109px 9361px #fff,
          1766px 9276px #fff, 2865px 3817px #fff, 9812px 2476px #fff,
          6934px 5799px #fff, 7835px 3864px #fff, 633px 9321px #fff,
          380px 820px #fff, 9377px 3039px #fff, 9526px 158px #fff,
          8586px 5795px #fff, 3694px 4069px #fff, 88px 2863px #fff,
          2743px 15px #fff, 1609px 9467px #fff, 9785px 6942px #fff,
          8216px 7078px #fff, 2583px 3254px #fff, 1539px 7552px #fff,
          9625px 6045px #fff, 3322px 9482px #fff, 1023px 466px #fff,
          8346px 1741px #fff, 288px 3194px #fff, 632px 2261px #fff,
          3062px 652px #fff, 273px 7918px #fff, 7949px 1831px #fff,
          7087px 5655px #fff, 1621px 1176px #fff, 7492px 5096px #fff,
          5223px 95px #fff, 4022px 6512px #fff, 6367px 2344px #fff,
          5404px 7969px #fff, 4008px 6911px #fff, 4248px 7242px #fff,
          4761px 7511px #fff, 4879px 889px #fff, 8948px 3259px #fff,
          1322px 3863px #fff, 713px 3928px #fff, 5830px 9769px #fff,
          9636px 136px #fff, 6657px 9644px #fff, 4664px 9626px #fff,
          4840px 7698px #fff, 3302px 7574px #fff, 7936px 1674px #fff,
          49px 2466px #fff, 6423px 5532px #fff, 1618px 9322px #fff,
          5865px 7991px #fff, 2281px 6999px #fff, 413px 3892px #fff,
          8592px 994px #fff, 5061px 4360px #fff, 4904px 6988px #fff,
          9665px 17px #fff, 8914px 4216px #fff, 9483px 8590px #fff,
          9822px 7002px #fff, 9418px 6408px #fff, 9441px 3009px #fff,
          683px 6155px #fff, 6970px 3692px #fff, 8618px 8712px #fff,
          1009px 4460px #fff, 4077px 8185px #fff, 8667px 3302px #fff,
          5930px 4223px #fff, 9347px 1697px #fff, 3853px 5691px #fff,
          4609px 3846px #fff, 6835px 4023px #fff, 5799px 5087px #fff,
          6121px 9636px #fff, 3790px 631px #fff, 3086px 6029px #fff,
          9813px 5654px #fff, 2669px 3970px #fff, 7032px 7129px #fff,
          5102px 7682px #fff, 7581px 5017px #fff, 8978px 8948px #fff,
          5128px 7835px #fff, 6255px 5699px #fff, 9306px 7135px #fff,
          237px 3456px #fff, 1682px 9048px #fff, 7892px 2774px #fff,
          5880px 7851px #fff, 9500px 7529px #fff, 3077px 7999px #fff,
          6236px 8769px #fff, 87px 3297px #fff, 4094px 5226px #fff,
          6716px 3431px #fff, 8047px 5637px #fff, 2755px 2979px #fff,
          7851px 5174px #fff, 7629px 5744px #fff, 8764px 3639px #fff,
          9358px 6736px #fff, 6965px 9784px #fff, 863px 7806px #fff,
          325px 8686px #fff, 2363px 9703px #fff, 8958px 8137px #fff,
          6100px 5194px #fff, 8621px 2592px #fff, 7384px 3778px #fff,
          8790px 6888px #fff, 41px 5170px #fff, 8527px 6361px #fff,
          129px 7203px #fff, 3068px 38px #fff, 6755px 560px #fff,
          6608px 7052px #fff, 2975px 1639px #fff, 4151px 2758px #fff,
          6118px 5615px #fff, 9645px 7337px #fff, 8757px 3226px #fff,
          4210px 4823px #fff, 770px 272px #fff, 5254px 6879px #fff,
          4064px 2477px #fff, 6880px 8891px #fff, 2188px 3119px #fff,
          5012px 586px #fff, 7389px 2643px #fff, 4655px 6109px #fff,
          2568px 3470px #fff, 3262px 4318px #fff, 9257px 8144px #fff,
          1540px 5780px #fff, 5350px 3216px #fff, 1998px 6171px #fff,
          9910px 3843px #fff, 5442px 6596px #fff, 1974px 2099px #fff,
          6047px 5494px #fff, 3285px 7643px #fff, 8924px 6833px #fff,
          7894px 1633px #fff, 8961px 7028px #fff, 4886px 7301px #fff,
          562px 7754px #fff, 7889px 1242px #fff, 6621px 9827px #fff,
          5549px 6130px #fff, 9183px 8117px #fff, 2261px 5316px #fff,
          1692px 9173px #fff, 3888px 974px #fff, 2105px 7174px #fff,
          5670px 9987px #fff, 1641px 5155px #fff, 5144px 1876px #fff,
          9370px 2867px #fff, 1574px 3306px #fff, 1188px 7994px #fff,
          8189px 9692px #fff, 6349px 1566px #fff, 9654px 5851px #fff,
          7220px 3938px #fff, 5727px 1448px #fff, 891px 931px #fff,
          5644px 5656px #fff, 3588px 8664px #fff, 5121px 4610px #fff,
          4651px 5346px #fff, 5055px 1150px #fff, 6248px 4504px #fff,
          8407px 5474px #fff, 8888px 9180px #fff, 9703px 290px #fff,
          4392px 1997px #fff, 4791px 9031px #fff, 2415px 6139px #fff,
          8799px 2839px #fff, 9090px 90px #fff, 94px 9577px #fff,
          2269px 2048px #fff, 4721px 6581px #fff, 1724px 933px #fff,
          8742px 354px #fff, 4330px 8212px #fff, 1698px 9907px #fff,
          6344px 6558px #fff, 1748px 5961px #fff, 6782px 5755px #fff,
          9334px 2740px #fff, 770px 148px #fff, 4895px 6417px #fff,
          8847px 9833px #fff, 7575px 9548px #fff, 9119px 9307px #fff,
          4534px 3593px #fff, 5179px 4865px #fff, 5008px 7247px #fff,
          1696px 1826px #fff, 7335px 1259px #fff, 1095px 449px #fff,
          4959px 6771px #fff, 4876px 4948px #fff, 2931px 9914px #fff,
          2654px 5657px #fff, 7460px 1552px #fff, 9070px 1613px #fff,
          6162px 1407px #fff, 7673px 3280px #fff, 1372px 9707px #fff,
          3935px 720px #fff, 4572px 2551px #fff, 7741px 2650px #fff,
          8859px 8699px #fff, 2053px 1541px #fff, 2000px 2945px #fff,
          4964px 1331px #fff, 8726px 9483px #fff, 8861px 7719px #fff,
          3841px 1422px #fff, 2278px 7153px #fff, 8906px 8407px #fff,
          3425px 2959px #fff, 201px 4278px #fff, 8460px 5965px #fff,
          2574px 5320px #fff, 6012px 9876px #fff, 2799px 1453px #fff,
          2545px 47px #fff, 1297px 9400px #fff, 3196px 8590px #fff,
          6676px 9270px #fff, 4349px 5048px #fff, 5267px 6822px #fff,
          3795px 5977px #fff, 7516px 2074px #fff, 187px 6576px #fff,
          9948px 4844px #fff, 6247px 6277px #fff, 8390px 7469px #fff,
          4997px 9296px #fff, 7557px 4062px #fff, 30px 8001px #fff,
          9575px 6765px #fff, 2401px 6076px #fff, 9605px 2523px #fff,
          1995px 4948px #fff, 153px 408px #fff, 6232px 7656px #fff,
          6780px 8938px #fff, 6670px 4274px #fff, 2542px 5318px #fff,
          6925px 819px #fff, 7773px 6612px #fff, 9096px 6105px #fff,
          526px 6630px #fff, 7257px 2150px #fff, 9132px 6806px #fff,
          4648px 9546px #fff, 4489px 4702px #fff, 7797px 8071px #fff,
          5615px 4490px #fff, 2169px 6643px #fff, 2255px 1282px #fff,
          2531px 623px #fff, 5080px 726px #fff, 1227px 5327px #fff,
          723px 1846px #fff, 195px 3771px #fff, 4372px 4961px #fff,
          9810px 1368px #fff, 8322px 764px #fff, 9280px 470px #fff,
          3517px 9548px #fff, 451px 4044px #fff, 362px 876px #fff,
          5461px 3464px #fff, 9248px 1623px #fff, 2346px 3315px #fff,
          3926px 2586px #fff, 4375px 9449px #fff, 5758px 3335px #fff,
          21px 7354px #fff, 7427px 1977px #fff, 2708px 596px #fff,
          6199px 847px #fff, 8953px 4423px #fff, 4527px 836px #fff,
          7398px 4696px #fff, 2987px 5049px #fff, 7852px 1003px #fff,
          8868px 6068px #fff, 1226px 644px #fff, 5864px 4559px #fff,
          6572px 8680px #fff, 3223px 388px #fff, 4943px 1655px #fff,
          5758px 5247px #fff, 3639px 3021px #fff, 812px 1881px #fff,
          4487px 5778px #fff, 2002px 9646px #fff, 2489px 6974px #fff,
          4049px 6563px #fff, 7858px 7283px #fff, 2448px 5542px #fff,
          6649px 6255px #fff, 6866px 6003px #fff, 9599px 542px #fff,
          4934px 8313px #fff, 9426px 2328px #fff, 1353px 938px #fff,
          1370px 3883px #fff, 3719px 9600px #fff, 3775px 1584px #fff,
          2362px 4143px #fff, 6204px 4585px #fff, 7598px 7076px #fff,
          5839px 1581px #fff, 2114px 6285px #fff, 2994px 3697px #fff,
          9761px 1527px #fff, 9395px 1676px #fff, 7448px 1756px #fff,
          363px 3584px #fff, 3345px 4319px #fff, 755px 893px #fff,
          8233px 9970px #fff, 3056px 1155px #fff, 924px 9141px #fff,
          2723px 4404px #fff, 4667px 1909px #fff, 9241px 1379px #fff,
          1281px 942px #fff, 3897px 2850px #fff, 6511px 8013px #fff,
          1831px 522px #fff, 6035px 8622px #fff, 6748px 7224px #fff,
          1533px 2478px #fff, 3155px 3974px #fff, 32px 7281px #fff,
          3262px 840px #fff, 5974px 5160px #fff, 6497px 9374px #fff,
          5815px 6366px #fff, 4267px 6956px #fff, 4407px 3070px #fff,
          791px 5558px #fff, 8163px 7466px #fff, 5185px 3441px #fff,
          4076px 9352px #fff, 6360px 6094px #fff, 1353px 6820px #fff,
          3227px 6691px #fff, 5385px 7729px #fff, 4736px 2450px #fff,
          3127px 1436px #fff, 2117px 1136px #fff, 5078px 8338px #fff,
          5049px 8839px #fff, 8346px 4602px #fff, 4519px 2885px #fff,
          3584px 2822px #fff, 9291px 2564px #fff, 7900px 3328px #fff,
          152px 9774px #fff, 8728px 4701px #fff, 6657px 2919px #fff,
          7280px 9241px #fff, 1479px 7245px #fff, 9826px 5604px #fff,
          7661px 5482px #fff, 6641px 5732px #fff, 5875px 8115px #fff,
          1758px 9490px #fff, 3577px 4154px #fff, 7789px 6805px #fff,
          6515px 9633px #fff, 854px 4078px #fff, 8380px 1736px #fff,
          4509px 1498px #fff, 9901px 6316px #fff, 5020px 4355px #fff,
          9275px 8324px #fff, 3641px 1490px #fff, 5691px 2567px #fff,
          7070px 3110px #fff, 3419px 6987px #fff, 8928px 5066px #fff,
          8502px 6893px #fff, 2297px 1819px #fff, 3952px 6212px #fff,
          4952px 7139px #fff, 2848px 9352px #fff, 3464px 4147px #fff,
          2090px 6111px #fff, 1142px 4318px #fff, 5092px 1438px #fff,
          9661px 447px #fff, 2687px 5874px #fff, 6486px 3339px #fff,
          6472px 1178px #fff, 7770px 5028px #fff, 7387px 589px #fff,
          7964px 1960px #fff, 9594px 5194px #fff, 6114px 8403px #fff,
          9790px 4867px #fff, 5228px 5986px #fff, 7606px 3834px #fff,
          1688px 7109px #fff, 7325px 9152px #fff, 9722px 5149px #fff,
          8635px 9986px #fff, 1279px 1181px #fff, 9532px 3167px #fff,
          8440px 347px #fff, 2913px 7935px #fff, 4982px 3929px #fff,
          1890px 4836px #fff, 189px 176px #fff, 6536px 5488px #fff,
          5478px 4577px #fff, 8623px 7208px #fff, 2484px 2981px #fff,
          388px 1875px #fff, 2405px 1038px #fff, 8229px 3723px #fff,
          1959px 9914px #fff, 8194px 6760px #fff, 7030px 4442px #fff,
          7094px 4085px #fff, 3997px 7970px #fff, 4613px 5517px #fff,
          3883px 1573px #fff, 2664px 3559px #fff, 8602px 280px #fff,
          75px 1468px #fff, 1975px 7756px #fff, 2666px 3470px #fff,
          7944px 1944px #fff, 2347px 5440px #fff, 8816px 3738px #fff,
          991px 2501px #fff, 2984px 3467px #fff, 6119px 5618px #fff,
          9971px 1321px #fff, 4062px 1172px #fff, 3895px 9003px #fff,
          425px 3210px #fff, 6513px 3593px #fff, 6411px 5755px #fff,
          4177px 8048px #fff, 1140px 566px #fff, 9830px 1086px #fff,
          4913px 2295px #fff, 6377px 506px #fff, 384px 383px #fff,
          4663px 6343px #fff, 2370px 3391px #fff, 3054px 2537px #fff,
          841px 8336px #fff, 8444px 5050px #fff, 336px 1159px #fff,
          8721px 3006px #fff, 8192px 2425px #fff, 296px 4970px #fff,
          3257px 1930px #fff, 6418px 4239px #fff, 8609px 7239px #fff,
          8058px 5950px #fff, 3079px 9992px #fff, 9124px 8438px #fff,
          3963px 9631px #fff, 8076px 9510px #fff, 4165px 7225px #fff,
          6560px 9933px #fff, 4634px 167px #fff, 4997px 5025px #fff,
          7609px 8182px #fff, 1821px 5051px #fff, 9167px 2055px #fff,
          5662px 7487px #fff, 3970px 4571px #fff, 9054px 9833px #fff,
          9789px 6913px #fff, 4261px 1701px #fff, 6083px 4952px #fff,
          788px 9102px #fff, 9844px 2351px #fff, 2369px 894px #fff,
          9270px 5161px #fff, 1760px 2474px #fff, 9761px 1748px #fff,
          6373px 1194px #fff, 424px 6251px #fff, 3582px 9298px #fff,
          2787px 8316px #fff, 1681px 1249px #fff, 5559px 200px #fff,
          9837px 6309px #fff, 1586px 5987px #fff, 7209px 2185px #fff,
          1634px 1992px #fff, 9941px 2901px #fff, 8067px 9871px #fff,
          1177px 5906px #fff, 6606px 7134px #fff, 2523px 2936px #fff,
          1349px 7601px #fff, 7383px 2585px #fff, 7288px 3693px #fff,
          1785px 1329px #fff, 8659px 5362px #fff, 5795px 8237px #fff,
          1010px 7168px #fff, 4569px 9009px #fff, 9255px 4873px #fff,
          373px 9591px #fff, 8905px 6708px #fff, 8469px 2613px #fff,
          9826px 966px #fff, 2660px 4737px #fff, 3770px 4376px #fff,
          134px 6151px #fff, 3419px 8467px #fff, 9748px 617px #fff,
          7741px 562px #fff, 4806px 2174px #fff, 2940px 1119px #fff,
          198px 514px #fff, 1308px 5541px #fff, 4194px 2052px #fff,
          9790px 6193px #fff, 3667px 8160px #fff, 9755px 3188px #fff,
          6506px 6450px #fff, 886px 2338px #fff, 1691px 8809px #fff,
          4723px 8935px #fff, 5495px 4027px #fff, 4981px 7708px #fff,
          7838px 11px #fff, 8523px 7788px #fff, 7356px 5923px #fff,
          6762px 5839px #fff, 5097px 1037px #fff, 7614px 7834px #fff,
          393px 2796px #fff, 6244px 797px #fff, 7469px 8058px #fff,
          558px 7714px #fff, 8043px 4442px #fff, 180px 9073px #fff,
          4227px 7875px #fff, 7451px 6633px #fff, 6921px 8303px #fff,
          6241px 3368px #fff, 4304px 4500px #fff, 7950px 2612px #fff,
          3476px 2407px #fff, 6750px 2029px #fff, 5959px 3120px #fff,
          12px 2525px #fff, 437px 7967px #fff, 5856px 9678px #fff,
          5669px 607px #fff, 2968px 292px #fff, 441px 8182px #fff,
          6096px 3083px #fff, 8558px 2852px #fff, 5314px 3972px #fff,
          5223px 3237px #fff, 9613px 3941px #fff, 4271px 634px #fff,
          5669px 1011px #fff, 1627px 2729px #fff, 6955px 9497px #fff,
          7893px 2188px #fff, 8946px 2095px #fff, 9571px 1851px #fff,
          5960px 1993px #fff, 1493px 3235px #fff, 7091px 1382px #fff,
          7776px 2776px #fff, 9509px 5234px #fff, 1795px 3471px #fff,
          582px 1367px #fff, 6073px 5285px #fff, 2614px 4228px #fff,
          6863px 117px #fff, 6692px 6618px #fff, 4011px 2419px #fff,
          1125px 3099px #fff, 2463px 7476px #fff, 7518px 8729px #fff,
          9694px 615px #fff, 4678px 7130px #fff, 7775px 8510px #fff,
          5077px 7539px #fff, 9229px 2690px #fff, 6124px 8061px #fff,
          3253px 1565px #fff, 8961px 8801px #fff, 2716px 125px #fff,
          7079px 4160px #fff, 2083px 6234px #fff, 8860px 9932px #fff,
          7312px 6295px #fff, 8722px 804px #fff, 8812px 6825px #fff,
          5629px 2039px #fff, 2068px 8427px #fff, 3664px 9870px #fff,
          7647px 5551px #fff, 8498px 5885px #fff, 8022px 5845px #fff,
          4502px 5524px #fff, 8352px 4425px #fff, 6368px 614px #fff,
          8620px 8568px #fff, 9241px 5560px #fff, 8242px 2936px #fff,
          3754px 244px #fff, 4693px 9736px #fff, 4790px 8924px #fff,
          9932px 6080px #fff, 3474px 3508px #fff, 5738px 2734px #fff,
          3314px 3269px #fff, 8928px 4243px #fff, 8146px 5906px #fff,
          4061px 5790px #fff, 8349px 3699px #fff, 2464px 1681px #fff,
          4888px 2159px #fff, 7672px 1625px #fff, 9424px 6424px #fff,
          9636px 1372px #fff, 5457px 3471px #fff, 7339px 285px #fff,
          6108px 9466px #fff, 5598px 2655px #fff, 7910px 1746px #fff,
          2932px 6528px #fff, 1106px 4668px #fff, 852px 7443px #fff,
          3251px 2618px #fff, 3719px 6542px #fff, 7022px 4400px #fff,
          6785px 5919px #fff, 6720px 6163px #fff, 2319px 1788px #fff,
          884px 6947px #fff, 330px 3621px #fff, 3338px 7623px #fff,
          7032px 2593px #fff, 9589px 3203px #fff, 447px 7248px #fff,
          6982px 3193px #fff, 9596px 1739px #fff, 6175px 1563px #fff,
          5741px 2864px #fff, 1751px 3229px #fff, 2990px 3102px #fff,
          560px 7046px #fff, 9558px 4179px #fff, 6677px 9913px #fff,
          316px 4873px #fff, 6973px 9623px #fff, 3319px 8886px #fff,
          3549px 1983px #fff, 4414px 607px #fff, 5791px 8484px #fff,
          5850px 5418px #fff, 1683px 3676px #fff, 2708px 967px #fff,
          3168px 1324px #fff, 2581px 1695px #fff, 2494px 4494px #fff,
          9452px 8555px #fff, 6132px 965px #fff, 5302px 8111px #fff,
          4578px 2443px #fff, 6761px 7202px #fff, 4457px 3341px #fff,
          5999px 3208px #fff, 617px 939px #fff, 2965px 8175px #fff,
          6002px 9231px #fff, 4901px 6124px #fff, 3332px 8083px #fff,
          965px 8132px #fff, 7663px 3938px #fff, 6589px 4508px #fff,
          2640px 8354px #fff, 6866px 6712px #fff, 619px 2548px #fff,
          3307px 211px #fff, 2824px 3120px #fff, 4671px 3180px #fff,
          4164px 8945px #fff, 1463px 9403px #fff, 8162px 2493px #fff,
          1580px 4825px #fff, 6057px 8466px #fff, 3408px 4332px #fff,
          3998px 5354px #fff, 3485px 3925px #fff, 3788px 6060px #fff,
          2836px 3549px #fff, 7765px 449px #fff, 6236px 241px #fff,
          8063px 5164px #fff, 3789px 9010px #fff, 3780px 6956px #fff,
          8350px 1142px #fff, 8269px 3024px #fff, 3260px 8734px #fff,
          6876px 939px #fff, 8476px 4267px #fff, 3194px 8267px #fff,
          3420px 662px #fff, 2777px 8231px #fff, 822px 4306px #fff,
          312px 8994px #fff, 1834px 6585px #fff, 3910px 6221px #fff,
          4375px 8788px #fff, 645px 1912px #fff, 1563px 3312px #fff,
          4175px 2933px #fff, 7645px 1579px #fff, 972px 6802px #fff,
          463px 8537px #fff, 7591px 3133px #fff, 9025px 2617px #fff,
          6790px 702px #fff, 7541px 9186px #fff, 444px 3934px #fff,
          7215px 3616px #fff, 5321px 6429px #fff, 3330px 5473px #fff,
          2270px 3792px #fff, 5153px 6875px #fff, 2716px 8259px #fff,
          5668px 3111px #fff, 5702px 6979px #fff, 6373px 6055px #fff,
          5827px 689px #fff, 3591px 8290px #fff, 321px 5012px #fff,
          5478px 3032px #fff, 6546px 2490px #fff, 6219px 6508px #fff,
          9491px 4151px #fff, 5998px 5636px #fff, 1149px 4383px #fff,
          8293px 1462px #fff, 4439px 7956px #fff, 4609px 7227px #fff,
          4775px 6363px #fff, 8449px 1121px #fff, 3172px 2150px #fff,
          57px 35px #fff, 24px 3227px #fff, 1376px 6612px #fff,
          9776px 463px #fff, 2820px 7880px #fff, 933px 509px #fff,
          86px 4424px #fff, 5347px 9401px #fff, 446px 2958px #fff,
          5833px 4923px #fff, 648px 9761px #fff, 632px 3973px #fff,
          2434px 4598px #fff, 6979px 4957px #fff, 2226px 8829px #fff,
          7379px 7707px #fff, 7002px 2297px #fff, 2715px 4063px #fff,
          6733px 8152px #fff, 3592px 3725px #fff, 2044px 131px #fff,
          381px 7359px #fff, 5633px 2150px #fff, 5388px 785px #fff,
          1787px 7871px #fff, 2664px 5690px #fff, 8685px 2638px #fff,
          4900px 2903px #fff, 3313px 9275px #fff, 2003px 9973px #fff,
          6796px 8457px #fff, 6191px 7413px #fff, 68px 1656px #fff,
          2545px 1848px #fff, 7851px 6608px #fff, 9104px 2586px #fff,
          9962px 4293px #fff, 8498px 4558px #fff, 6365px 2883px #fff,
          4061px 5162px #fff, 8921px 5727px #fff, 8853px 4667px #fff,
          9968px 3784px #fff, 5425px 1232px #fff, 2026px 4340px #fff,
          601px 1231px #fff, 7600px 8190px #fff, 4924px 4649px #fff,
          5152px 6490px #fff, 6951px 5934px #fff, 6672px 1614px #fff,
          263px 686px #fff, 912px 2711px #fff, 5381px 8910px #fff,
          521px 9368px #fff, 2275px 5242px #fff, 6168px 4733px #fff,
          6589px 4801px #fff, 4256px 6260px #fff, 1045px 4766px #fff,
          8013px 3222px #fff, 4668px 1153px #fff, 1196px 807px #fff,
          3026px 339px #fff, 7650px 3183px #fff, 3344px 6020px #fff,
          5334px 920px #fff, 4407px 7997px #fff, 7541px 4507px #fff,
          8973px 8109px #fff, 8119px 1094px #fff, 4037px 1562px #fff,
          8285px 1945px #fff, 1497px 6440px #fff, 7271px 8019px #fff,
          9194px 1457px #fff, 5971px 8748px #fff, 4452px 3483px #fff,
          5885px 7645px #fff, 3068px 6891px #fff, 2647px 1882px #fff,
          5174px 1120px #fff;
      }
      #stars:after {
        content: " ";
        position: absolute;
        bottom: 10000px;
      }
      #stars2 {
        z-index: -10;
        -webkit-animation: animStar 200s linear infinite;
        animation: animStar 200s linear infinite;
      }
      #stars2,
      #stars2:after {
        width: 2px;
        height: 2px;
        background: transparent;
        box-shadow: 1295px 2853px #fff, 7034px 7725px #fff, 5970px 2208px #fff,
          5952px 3260px #fff, 1021px 7579px #fff, 7009px 6271px #fff,
          2476px 9628px #fff, 820px 8339px #fff, 2602px 6655px #fff,
          7467px 5769px #fff, 7086px 207px #fff, 8248px 6230px #fff,
          7818px 3576px #fff, 1069px 3455px #fff, 3939px 9735px #fff,
          901px 7821px #fff, 942px 2507px #fff, 9371px 8791px #fff,
          7722px 5058px #fff, 6311px 1945px #fff, 6166px 4061px #fff,
          7710px 8331px #fff, 902px 794px #fff, 4525px 5582px #fff,
          2663px 50px #fff, 3817px 2417px #fff, 7496px 6803px #fff,
          2822px 4963px #fff, 902px 8892px #fff, 1467px 6514px #fff,
          6278px 1224px #fff, 762px 9124px #fff, 2772px 3780px #fff,
          5896px 9531px #fff, 4884px 1620px #fff, 4272px 8543px #fff,
          8301px 9091px #fff, 6930px 1184px #fff, 1859px 3324px #fff,
          9258px 7814px #fff, 8231px 7921px #fff, 3156px 2276px #fff,
          3529px 9439px #fff, 6709px 4167px #fff, 7260px 3977px #fff,
          4271px 2643px #fff, 3004px 3435px #fff, 8690px 5539px #fff,
          4986px 3694px #fff, 5682px 774px #fff, 8956px 3397px #fff,
          2208px 9333px #fff, 7376px 105px #fff, 2516px 5671px #fff,
          1858px 3644px #fff, 5522px 3979px #fff, 9191px 6824px #fff,
          9169px 8200px #fff, 2160px 7921px #fff, 4020px 6694px #fff,
          7966px 4291px #fff, 1316px 5175px #fff, 3572px 3761px #fff,
          3148px 6035px #fff, 4003px 156px #fff, 7264px 3758px #fff,
          8864px 1937px #fff, 2154px 9419px #fff, 8012px 196px #fff,
          1957px 9625px #fff, 9054px 8978px #fff, 873px 9216px #fff,
          9055px 5841px #fff, 3157px 4289px #fff, 7302px 3375px #fff,
          1423px 8804px #fff, 432px 5303px #fff, 6945px 6434px #fff,
          8791px 4123px #fff, 7162px 9210px #fff, 2249px 3502px #fff,
          4613px 2183px #fff, 441px 5468px #fff, 5996px 4452px #fff,
          2351px 1547px #fff, 7905px 9675px #fff, 5910px 7354px #fff,
          1416px 9757px #fff, 115px 9556px #fff, 9278px 4527px #fff,
          3448px 9272px #fff, 9897px 1375px #fff, 512px 6086px #fff,
          5116px 7935px #fff, 9108px 4919px #fff, 6853px 9559px #fff,
          6606px 8414px #fff, 2114px 1162px #fff, 962px 2659px #fff,
          8368px 8741px #fff, 715px 4970px #fff, 5620px 1641px #fff,
          2006px 8744px #fff, 7928px 5539px #fff, 5312px 6592px #fff,
          8752px 9266px #fff, 5739px 177px #fff, 3211px 5466px #fff,
          5780px 2149px #fff, 8302px 2269px #fff, 3938px 8378px #fff,
          2656px 1248px #fff, 9336px 6615px #fff, 5469px 6280px #fff,
          8991px 4149px #fff, 6264px 822px #fff, 8099px 9743px #fff,
          1397px 4124px #fff, 4982px 1450px #fff, 6026px 3773px #fff,
          4099px 7527px #fff, 4133px 3249px #fff, 974px 1841px #fff,
          1542px 3637px #fff, 228px 6662px #fff, 690px 4243px #fff,
          4164px 2930px #fff, 3884px 3060px #fff, 3134px 513px #fff,
          7641px 1587px #fff, 6428px 1028px #fff, 5562px 9196px #fff,
          8814px 6229px #fff, 8077px 5524px #fff, 9029px 8808px #fff,
          2527px 5467px #fff, 3737px 2102px #fff, 1472px 7186px #fff,
          9915px 4832px #fff, 7808px 6662px #fff, 5072px 1804px #fff,
          3240px 8492px #fff, 3068px 8966px #fff, 6783px 2747px #fff,
          9140px 8977px #fff, 8054px 1175px #fff, 7403px 7976px #fff,
          1373px 3127px #fff, 4415px 52px #fff, 8715px 5223px #fff,
          3272px 7543px #fff, 7291px 2072px #fff, 3097px 4701px #fff,
          2065px 3357px #fff, 5573px 7963px #fff, 9627px 8401px #fff,
          7038px 3203px #fff, 7721px 2930px #fff, 4290px 7811px #fff,
          7046px 6967px #fff, 3711px 6622px #fff, 2728px 8577px #fff,
          3751px 2023px #fff, 489px 576px #fff, 7999px 5996px #fff,
          6614px 8137px #fff, 290px 6321px #fff, 2218px 8119px #fff,
          1695px 251px #fff, 1197px 3062px #fff, 3443px 9666px #fff,
          8453px 5703px #fff, 4385px 1899px #fff, 475px 1304px #fff,
          5395px 5925px #fff, 8703px 1425px #fff, 6744px 2042px #fff,
          6162px 1678px #fff, 6234px 829px #fff, 6139px 6838px #fff,
          7447px 850px #fff, 7848px 5927px #fff, 5328px 6895px #fff,
          7652px 126px #fff, 3443px 7654px #fff, 3482px 1302px #fff,
          8095px 6463px #fff, 8266px 8042px #fff, 3329px 3903px #fff,
          4390px 7331px #fff, 303px 8045px #fff, 2416px 6855px #fff,
          8321px 4513px #fff, 5341px 9733px #fff, 7960px 6977px #fff,
          6734px 9918px #fff, 7160px 2378px #fff, 9968px 5849px #fff,
          5016px 3087px #fff, 1613px 2069px #fff, 9897px 9836px #fff,
          2575px 2582px #fff, 6018px 722px #fff, 7620px 6680px #fff,
          7253px 4427px #fff, 7250px 7889px #fff, 7333px 4336px #fff,
          3361px 1601px #fff, 6408px 4664px #fff, 2006px 6068px #fff,
          5157px 4449px #fff, 2331px 7140px #fff, 5156px 5030px #fff,
          3362px 1427px #fff, 5995px 3527px #fff, 2901px 3360px #fff,
          484px 1658px #fff, 4756px 550px #fff, 5880px 7271px #fff,
          925px 3555px #fff, 2118px 4973px #fff, 2800px 1719px #fff,
          4340px 959px #fff, 8939px 2155px #fff, 8797px 9398px #fff,
          1116px 6382px #fff, 1931px 3820px #fff, 2842px 6349px #fff,
          5290px 1198px #fff, 5705px 6093px #fff, 8248px 5609px #fff,
          288px 3072px #fff, 803px 4593px #fff, 5449px 4164px #fff,
          8815px 6774px #fff, 699px 1292px #fff, 9919px 5664px #fff,
          6158px 6732px #fff, 840px 9464px #fff, 6893px 7018px #fff,
          4237px 1159px #fff, 6556px 513px #fff, 6958px 1450px #fff,
          5026px 754px #fff, 1600px 6948px #fff, 2365px 4807px #fff,
          3587px 6089px #fff, 9033px 3754px #fff, 1200px 5938px #fff,
          5484px 7570px #fff, 4501px 1585px #fff, 3921px 8121px #fff,
          3564px 9589px #fff, 6627px 9641px #fff, 3324px 678px #fff,
          2890px 503px #fff, 1826px 4962px #fff, 5566px 7865px #fff,
          6321px 7245px #fff, 922px 8666px #fff, 8293px 3966px #fff,
          6609px 447px #fff, 4589px 2589px #fff, 6235px 4793px #fff,
          5270px 7596px #fff, 9288px 7871px #fff, 8201px 9805px #fff,
          8451px 272px #fff, 1886px 9327px #fff, 5319px 544px #fff,
          2608px 5606px #fff, 4995px 4416px #fff, 2888px 1378px #fff,
          5003px 8891px #fff, 9602px 5365px #fff, 7233px 4571px #fff,
          6338px 6591px #fff, 9046px 336px #fff, 6580px 1057px #fff,
          1094px 6634px #fff, 4555px 601px #fff, 2140px 9814px #fff,
          1325px 9694px #fff, 4886px 4006px #fff, 9276px 2568px #fff,
          1654px 673px #fff, 4836px 2944px #fff, 935px 1689px #fff,
          1237px 3285px #fff, 8833px 8630px #fff, 9043px 7542px #fff,
          3125px 3965px #fff, 689px 5774px #fff, 9556px 4655px #fff,
          671px 5028px #fff, 4380px 9974px #fff, 9560px 6816px #fff,
          7596px 4704px #fff, 5990px 8855px #fff, 7350px 1029px #fff,
          6607px 9555px #fff, 6047px 8662px #fff, 3525px 4511px #fff,
          6773px 811px #fff, 5345px 8068px #fff, 8267px 1600px #fff,
          6920px 9754px #fff, 5641px 8627px #fff, 4317px 9838px #fff,
          3932px 3476px #fff, 1183px 5651px #fff, 7614px 5434px #fff,
          2906px 121px #fff, 6238px 745px #fff, 3742px 1857px #fff,
          7707px 6409px #fff, 4138px 2896px #fff, 8189px 9562px #fff,
          4213px 417px #fff, 2648px 419px #fff, 4745px 1037px #fff,
          6651px 867px #fff, 9213px 7079px #fff, 7873px 9009px #fff,
          5066px 4004px #fff, 495px 7190px #fff, 4318px 3387px #fff,
          7263px 3469px #fff, 330px 6283px #fff, 9527px 6787px #fff,
          4309px 3673px #fff, 8593px 6377px #fff, 5980px 4814px #fff,
          6567px 5505px #fff, 4792px 6360px #fff, 9043px 6338px #fff,
          4572px 8845px #fff, 5315px 8363px #fff, 3517px 152px #fff,
          1828px 3401px #fff, 7591px 2864px #fff, 2052px 9331px #fff,
          7968px 7762px #fff, 6040px 3253px #fff, 1325px 9391px #fff,
          5592px 6134px #fff, 6159px 7595px #fff, 9330px 4115px #fff,
          7782px 3314px #fff, 9300px 6465px #fff, 6921px 8866px #fff,
          2528px 587px #fff, 5335px 5931px #fff, 4589px 9756px #fff,
          1035px 4495px #fff, 3434px 7287px #fff, 9199px 5112px #fff,
          6291px 8464px #fff, 1191px 7410px #fff, 4712px 4113px #fff,
          7077px 170px #fff, 6890px 7135px #fff, 1942px 1847px #fff,
          2184px 5362px #fff, 3137px 8002px #fff, 6456px 5818px #fff,
          6528px 6813px #fff, 2631px 4670px #fff, 7519px 2970px #fff,
          2070px 2161px #fff, 1654px 8366px #fff, 7131px 8246px #fff,
          4463px 1245px #fff, 971px 8795px #fff, 6698px 4635px #fff,
          6491px 4997px #fff, 9153px 4433px #fff, 7847px 8201px #fff,
          7367px 7310px #fff, 7714px 4912px #fff, 8181px 5269px #fff,
          7833px 4038px #fff, 9008px 9637px #fff, 2296px 9955px #fff,
          4270px 138px #fff, 6458px 4704px #fff, 1637px 8886px #fff,
          6864px 1842px #fff, 2300px 5075px #fff, 4660px 8185px #fff,
          3476px 767px #fff, 7107px 9674px #fff, 7988px 7571px #fff,
          6435px 8966px #fff, 626px 3111px #fff, 4484px 5728px #fff,
          9917px 6488px #fff, 1885px 3816px #fff, 4048px 9545px #fff,
          4650px 5688px #fff;
      }
      #stars2:after {
        content: " ";
        position: absolute;
        bottom: 10000px;
      }
      #stars3 {
        z-index: -10;
        -webkit-animation: animStar 250s linear infinite;
        animation: animStar 250s linear infinite;
      }
      #stars3,
      #stars3:after {
        width: 3px;
        height: 3px;
        background: transparent;
        box-shadow: 4371px 7507px #fff, 7525px 5418px #fff, 5758px 7906px #fff,
          7561px 5091px #fff, 6334px 2190px #fff, 5196px 2389px #fff,
          7925px 1890px #fff, 2998px 8359px #fff, 5959px 6112px #fff,
          5420px 5606px #fff, 9324px 4502px #fff, 7090px 7770px #fff,
          4565px 7034px #fff, 2043px 1228px #fff, 4270px 9117px #fff,
          2385px 1663px #fff, 7825px 5161px #fff, 6242px 4862px #fff,
          1872px 2515px #fff, 1852px 1353px #fff, 6351px 1539px #fff,
          5273px 4398px #fff, 1433px 5842px #fff, 4604px 9933px #fff,
          4430px 2111px #fff, 2490px 7255px #fff, 3025px 8833px #fff,
          1191px 490px #fff, 3106px 2842px #fff, 399px 9093px #fff,
          2456px 7502px #fff, 4098px 8537px #fff, 6636px 7538px #fff,
          828px 5903px #fff, 1121px 3220px #fff, 6074px 1271px #fff,
          2036px 1093px #fff, 6915px 7837px #fff, 905px 6958px #fff,
          8640px 85px #fff, 3532px 3085px #fff, 2861px 3513px #fff,
          130px 3896px #fff, 7454px 6817px #fff, 9236px 6986px #fff,
          8803px 4777px #fff, 6118px 9795px #fff, 5796px 4086px #fff,
          9056px 9944px #fff, 1574px 4657px #fff, 269px 9558px #fff,
          9891px 3934px #fff, 6270px 4594px #fff, 6245px 7318px #fff,
          4416px 7277px #fff, 6933px 9121px #fff, 9228px 227px #fff,
          2451px 1059px #fff, 4782px 5060px #fff, 3258px 2996px #fff,
          7390px 9324px #fff, 7990px 5098px #fff, 5124px 1476px #fff,
          8556px 7351px #fff, 9979px 857px #fff, 8621px 720px #fff,
          6517px 9310px #fff, 877px 6702px #fff, 3151px 6943px #fff,
          2310px 43px #fff, 8715px 7251px #fff, 7248px 4999px #fff,
          2638px 1812px #fff, 8454px 6552px #fff, 9570px 3665px #fff,
          5241px 3937px #fff, 747px 1674px #fff, 4465px 5093px #fff,
          8846px 257px #fff, 6860px 1259px #fff, 3197px 7026px #fff,
          7721px 543px #fff, 1502px 1760px #fff, 201px 2133px #fff,
          6729px 7028px #fff, 7681px 2821px #fff, 7444px 9906px #fff,
          9834px 3287px #fff, 7544px 3102px #fff, 2402px 7943px #fff,
          7301px 1882px #fff, 2678px 2383px #fff, 6260px 8151px #fff,
          5160px 9507px #fff, 3530px 5832px #fff, 1346px 7400px #fff,
          8803px 4638px #fff, 948px 3536px #fff, 6938px 9754px #fff,
          6639px 4416px #fff, 8561px 9312px #fff, 2539px 1361px #fff,
          3641px 4813px #fff, 426px 499px #fff, 7877px 9543px #fff,
          1732px 6921px #fff, 2554px 5800px #fff, 2799px 8598px #fff,
          8701px 370px #fff, 6407px 4209px #fff, 215px 2525px #fff,
          4031px 7289px #fff, 6891px 5425px #fff, 180px 6971px #fff,
          3124px 1650px #fff, 9164px 6264px #fff, 6070px 9569px #fff,
          9997px 4563px #fff, 3170px 8893px #fff, 3973px 31px #fff,
          1897px 1411px #fff, 3331px 6808px #fff, 9310px 2650px #fff,
          4675px 8007px #fff, 6262px 9469px #fff, 2304px 6933px #fff,
          4765px 4374px #fff, 7903px 5362px #fff, 8194px 3751px #fff,
          437px 1855px #fff, 1539px 7603px #fff, 3868px 8579px #fff,
          389px 3455px #fff, 5343px 2188px #fff, 5419px 2079px #fff,
          7270px 863px #fff, 8701px 8746px #fff, 7728px 5176px #fff,
          6266px 7633px #fff, 3672px 5063px #fff, 6003px 4186px #fff,
          159px 2360px #fff, 97px 8338px #fff, 1316px 4207px #fff,
          2649px 5054px #fff, 1132px 7950px #fff, 3260px 670px #fff,
          4117px 6693px #fff, 7579px 9683px #fff, 1407px 9783px #fff,
          8616px 4164px #fff, 5387px 9553px #fff, 8691px 2021px #fff,
          2906px 2530px #fff, 2589px 8593px #fff, 6258px 9283px #fff,
          7768px 6205px #fff, 2120px 5422px #fff, 9552px 428px #fff,
          4510px 247px #fff, 511px 6932px #fff, 8274px 7598px #fff,
          1074px 2375px #fff, 8071px 8219px #fff, 2506px 3855px #fff,
          1529px 7723px #fff, 7756px 8000px #fff, 4860px 3194px #fff,
          6974px 6860px #fff, 1271px 2276px #fff, 8587px 4289px #fff,
          1222px 2606px #fff, 2612px 3310px #fff, 4994px 5541px #fff,
          6988px 4127px #fff, 19px 1945px #fff, 8564px 4979px #fff,
          1824px 6406px #fff, 7339px 2672px #fff, 4590px 7430px #fff,
          6497px 4384px #fff, 1106px 3830px #fff, 7163px 2079px #fff,
          6667px 2811px #fff, 9985px 1255px #fff, 5638px 4458px #fff,
          8582px 6491px #fff, 6571px 5126px #fff, 6705px 7127px #fff,
          6134px 9169px #fff, 6484px 3744px #fff, 5874px 8437px #fff,
          5042px 1058px #fff, 999px 8469px #fff, 4061px 64px #fff,
          7669px 4717px #fff, 8021px 2804px #fff, 9527px 3883px #fff,
          8420px 5872px #fff, 6127px 4258px #fff;
      }
      #stars3:after {
        content: " ";
        position: absolute;
        bottom: 10000px;
      }
      @-webkit-keyframes animStar {
        0% {
          transform: translateY(0);
        }
        to {
          transform: translateY(10000px);
        }
      }
      @keyframes animStar {
        0% {
          transform: translateY(0);
        }
        to {
          transform: translateY(10000px);
        }
      }
    }
    .town-back {
      position: fixed;
      bottom: 0;
      width: 100%;
      height: auto;
      opacity: 0.95;
      vertical-align: middle;
      pointer-events: none;
      user-select: none;
    }
  }
  main {
    position: relative;
    padding-top: 15rem;
    @media (max-width: 600px) {
      padding-top: 7rem;
    }
  }
}
