#NFT {
  .trading_row {
    padding-top: 2rem;
    padding-bottom: 5rem;
    .icon {
      max-width: 90%;
      width: 350px;
      height: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      cursor: pointer;
    }
    p {
      font-size: 1.4rem;
      font-weight: 700;
      margin-top: 1rem;
    }
  }
  #BuyEggsContent {
    background: url("../../Static/img/background.f5406ce.png") center/cover
      no-repeat;
    padding: 6.1rem;
    border: solid;
    .eggs_content_control {
      display: inline-block;

      .content_header {
        height: 2rem;
        background: url("../../Static/img/bg-box.711e234.png");
        width: 100%;
        background-size: 100% auto;
      }
      .content_footer {
        height: 2.1rem;
        background: url("../../Static/img/bg-box.711e234.png");
        width: 100%;
        background-position-y: 100%;
        background-size: 100% auto;
      }
      .content_body {
        padding: 2rem 4rem;
        background: rgba(2, 21, 33, 0.9);
        .eggs_table {
          border-collapse: separate;
          border-spacing: 0px;
          td {
            width: 9rem;
            height: 9rem;
            border: 3px solid var(--text-57);
            border-left-color: transparent;
            border-bottom-color: transparent;
            &:first-child {
              border-left: 3px solid var(--text-57);
            }
            cursor: pointer;
            &:hover {
              border: 3px solid var(--text-7a) !important;
            }
            img {
              width: 100%;
              height: 100%;
              border: none;
            }
          }

          .last_tr {
            td {
              border-bottom: 3px solid var(--text-57);
            }
          }
        }
        .buy_eggs {
          display: flex;
          justify-content: center;
          align-items: center;
          background: url("../../Static/img/buy_egg_frame.png") center/100% 100%
            no-repeat;
          height: 96px;
          width: 100%;
          margin-top: 32px;
          color: var(--text-7a);
          text-decoration: none;
          border: none;
          outline: none;
          font-size: 3.2rem;
          &:hover {
            color: var(--text-white);
          }
        }
      }
    }
    .eggs_control_viewer {
      width: 54rem;
      .control_view_wrapper {
        .control_header {
          height: 2rem;
          background: url("../../Static/img/bg-box.711e234.png");
          width: 100%;
          background-size: 100% auto;
        }
        .control_footer {
          height: 2.1rem;
          background: url("../../Static/img/bg-box.711e234.png");
          width: 100%;
          background-position-y: 100%;
          background-size: 100% auto;
        }
        .control_body {
          background: rgba(2, 21, 33, 0.9);
          padding: 4px 24px;
          .control_box {
            h2 {
              font-size: 4rem;
              color: var(--text-a7);
              margin-bottom: 0.5rem;
            }
          }
        }
      }
      .control_play_view_box {
        position: absolute;
        right: -160px;
        bottom: 32px;
        width: 900px;
        height: 900px;
        pointer-events: none;
        user-select: none;
        video {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

 
  
}
