#OpenWorldCarousel {
  position: relative;

  &::before {
    content: "";
    border-image: linear-gradient(90deg, transparent, #eedb7a 75%) 1;
    position: absolute;
    display: block;
    width: 85%;
    border-top: 0;
    border-style: solid;
    right: 0px;
    top: -5%;
  }
  &::after {
    content: "";
    border-image: linear-gradient(90deg, transparent, #eedb7a 75%) 1;
    position: absolute;
    display: block;
    width: 85%;
    border-top: 0;
    border-style: solid;
    right: 0px;
    bottom: -5%;
  }

  .swiper {
    width: 100%;
    height: 100%;
    @media (max-width: 767px) {
      padding-bottom: 20rem;
    }
  }
  .swiper_fixed_content {
    position: absolute;
    top: 50%;
    right: 0px;
    width: 421px;
    transform: translateY(-50%);
    z-index: 2;
    @media (max-width: 767px) {
      right: 50%;
      transform: translate(50%, -50%);
      text-align: center;
      top: 75%;
    }
    @media (max-width: 450px) {
      width: 100%;
      top: 70%;
    }
    h2 {
      font-size: 4rem;
      color: var(--text-7a);
      font-weight: bold;
    }
  }

  .swiper-slide {
    color: var(--text-white);

    /* Center slide text vertically */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @media (max-width: 767px) {
      justify-content: center;
    }
  }

  .slideImg {
    height: 460px;
    @media (max-width: 767px) {
      height: 30rem;
    }
  }
  .swiper {
    margin-left: auto;
    margin-right: auto;
    .swiper_description {
      position: absolute;
      bottom: 40px;
      right: 0;
      font-size: 3.2rem;
      width: 378px;
      text-align: center;
      @media (max-width: 767px) {
        right: 50%;
        bottom: -57%;
        transform: translateX(50%);
      }
    }
  }
  .swiper-pagination {
    text-align: right;
    pointer-events: none;
    padding-right: 30px;
    @media (max-width: 767px) {
      text-align: center;
    }
  }
  .swiper-pagination-bullet {
    pointer-events: visible;
    background-color: var(--text-57);
    width: 3.5rem;
    height: 0.1875em;
    transition: all 0.3s;
    display: inline-block;
    opacity: 1;
    border-radius: 0px;
    @media (max-width: 500px) {
      width: 2.5rem;
    }
    @media (max-width: 430px) {
      width: 1.5rem;
    }
    &:hover {
      background: var(--text-7a);
    }
    &.swiper-pagination-bullet-active {
      background-color: var(--text-7a);
      height: 0.375em;
      margin-top: 0.1875em;
      border-bottom-left-radius: 40%;
      border-bottom-right-radius: 40%;
    }
  }

  .swiper-button-prev {
    left: auto;
    right: 378px;
    bottom: -3px;
    top: auto;
    @media (max-width: 767px) {
      right: calc(100% - 10rem);
    }
    @media (max-width: 600px) {
      right: calc(100% - 5rem);
    }
    @media (max-width: 340px) {
      right: calc(100% - 3rem);
    }
    &::after {
      content: "";
      background: url("../../Static/img/left_icon.png") center/100% 100%
        no-repeat;
      width: 30px;
      height: 30px;
      transform: scaleX(-1);
    }
  }

  .swiper-button-next {
    left: auto;
    right: 0px;
    bottom: -3px;
    top: auto;
    @media (max-width: 767px) {
      right: 10rem;
    }
    @media (max-width: 600px) {
      right: 5rem;
    }
    @media (max-width: 340px) {
      right: 3rem;
    }
    &::after {
      content: "";
      background: url("../../Static/img/left_icon.png") center/100% 100%
        no-repeat;
      width: 30px;
      height: 30px;
    }
  }
  .start_point_swiper .swiper-button-prev,
  .end_point_swiper .swiper-button-next {
    pointer-events: none;
    &::after {
      background: url("../../Static/img/left_icon_disable.png") center/100% 100%
        no-repeat;
      pointer-events: none;
    }
  }
}
