#OpenWorldCarousel {
  position: relative;
}

#OpenWorldCarousel::before {
  content: "";
  -o-border-image: linear-gradient(90deg, transparent, #eedb7a 75%) 1;
     border-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(75%, #eedb7a)) 1;
     border-image: linear-gradient(90deg, transparent, #eedb7a 75%) 1;
  position: absolute;
  display: block;
  width: 85%;
  border-top: 0;
  border-style: solid;
  right: 0px;
  top: -5%;
}

#OpenWorldCarousel::after {
  content: "";
  -o-border-image: linear-gradient(90deg, transparent, #eedb7a 75%) 1;
     border-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(75%, #eedb7a)) 1;
     border-image: linear-gradient(90deg, transparent, #eedb7a 75%) 1;
  position: absolute;
  display: block;
  width: 85%;
  border-top: 0;
  border-style: solid;
  right: 0px;
  bottom: -5%;
}

#OpenWorldCarousel .swiper {
  width: 100%;
  height: 100%;
}

@media (max-width: 767px) {
  #OpenWorldCarousel .swiper {
    padding-bottom: 20rem;
  }
}

#OpenWorldCarousel .swiper_fixed_content {
  position: absolute;
  top: 50%;
  right: 0px;
  width: 421px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
}

@media (max-width: 767px) {
  #OpenWorldCarousel .swiper_fixed_content {
    right: 50%;
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
    text-align: center;
    top: 75%;
  }
}

@media (max-width: 450px) {
  #OpenWorldCarousel .swiper_fixed_content {
    width: 100%;
    top: 70%;
  }
}

#OpenWorldCarousel .swiper_fixed_content h2 {
  font-size: 4rem;
  color: var(--text-7a);
  font-weight: bold;
}

#OpenWorldCarousel .swiper-slide {
  color: var(--text-white);
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  #OpenWorldCarousel .swiper-slide {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#OpenWorldCarousel .slideImg {
  height: 460px;
}

@media (max-width: 767px) {
  #OpenWorldCarousel .slideImg {
    height: 30rem;
  }
}

#OpenWorldCarousel .swiper {
  margin-left: auto;
  margin-right: auto;
}

#OpenWorldCarousel .swiper .swiper_description {
  position: absolute;
  bottom: 40px;
  right: 0;
  font-size: 3.2rem;
  width: 378px;
  text-align: center;
}

@media (max-width: 767px) {
  #OpenWorldCarousel .swiper .swiper_description {
    right: 50%;
    bottom: -57%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}

#OpenWorldCarousel .swiper-pagination {
  text-align: right;
  pointer-events: none;
  padding-right: 30px;
}

@media (max-width: 767px) {
  #OpenWorldCarousel .swiper-pagination {
    text-align: center;
  }
}

#OpenWorldCarousel .swiper-pagination-bullet {
  pointer-events: visible;
  background-color: var(--text-57);
  width: 3.5rem;
  height: 0.1875em;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
  opacity: 1;
  border-radius: 0px;
}

@media (max-width: 500px) {
  #OpenWorldCarousel .swiper-pagination-bullet {
    width: 2.5rem;
  }
}

@media (max-width: 430px) {
  #OpenWorldCarousel .swiper-pagination-bullet {
    width: 1.5rem;
  }
}

#OpenWorldCarousel .swiper-pagination-bullet:hover {
  background: var(--text-7a);
}

#OpenWorldCarousel .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--text-7a);
  height: 0.375em;
  margin-top: 0.1875em;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
}

#OpenWorldCarousel .swiper-button-prev {
  left: auto;
  right: 378px;
  bottom: -3px;
  top: auto;
}

@media (max-width: 767px) {
  #OpenWorldCarousel .swiper-button-prev {
    right: calc(100% - 10rem);
  }
}

@media (max-width: 600px) {
  #OpenWorldCarousel .swiper-button-prev {
    right: calc(100% - 5rem);
  }
}

@media (max-width: 340px) {
  #OpenWorldCarousel .swiper-button-prev {
    right: calc(100% - 3rem);
  }
}

#OpenWorldCarousel .swiper-button-prev::after {
  content: "";
  background: url("../../Static/img/left_icon.png") center/100% 100% no-repeat;
  width: 30px;
  height: 30px;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

#OpenWorldCarousel .swiper-button-next {
  left: auto;
  right: 0px;
  bottom: -3px;
  top: auto;
}

@media (max-width: 767px) {
  #OpenWorldCarousel .swiper-button-next {
    right: 10rem;
  }
}

@media (max-width: 600px) {
  #OpenWorldCarousel .swiper-button-next {
    right: 5rem;
  }
}

@media (max-width: 340px) {
  #OpenWorldCarousel .swiper-button-next {
    right: 3rem;
  }
}

#OpenWorldCarousel .swiper-button-next::after {
  content: "";
  background: url("../../Static/img/left_icon.png") center/100% 100% no-repeat;
  width: 30px;
  height: 30px;
}

#OpenWorldCarousel .start_point_swiper .swiper-button-prev,
#OpenWorldCarousel .end_point_swiper .swiper-button-next {
  pointer-events: none;
}

#OpenWorldCarousel .start_point_swiper .swiper-button-prev::after,
#OpenWorldCarousel .end_point_swiper .swiper-button-next::after {
  background: url("../../Static/img/left_icon_disable.png") center/100% 100% no-repeat;
  pointer-events: none;
}
/*# sourceMappingURL=OpenWorldCarousel.css.map */