#Footer {
  margin-top: 40rem;
  z-index: 100;
  position: relative;
  * {
    color: var(--text-a7);
  }
  .footer_logo {
    margin-right: 2.4rem;
  }
  .footer_link {
    &:hover {
      text-decoration: underline;
    }
  }
  .social_list {
    img {
      width: 14.5rem;
      padding-bottom: 0.25em;
      padding-bottom: 0.25em;
      display: inline-block;
    }
  }
}
